<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />

</head>

<body>
    <div id="Prova1">
        <div class="calculadora">
            <input type="text" v-model="display" @keyup.enter="calcular">
            <div class="botoes">
                <button v-for="num in numeros" :key="num" @click="calculadoraTela(num)"> {{ num }} </button>
                <button v-for="operador in operadores" :key="operador" @click="operacao(operador)"> {{ operador }} </button>
                <button @click="calcular()"> = </button>
                <button @click="limpar()"> C </button>
            </div>
        </div>
    </div>  
    <script src="script.js"></script>
</body>

</html>
